@import 'grid.css';


.container_header{
  margin-bottom: 5px;
}

.container_body{
  margin-top: 5px;
}

header{
  text-align: center;
  text-transform: uppercase;
  color: red;
}

body{
  margin-right: auto;
  margin-left: auto;
  width: 940px;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  background-color: #ccc;
}

#editar{
    display: none;
}

#modalTeste{
    display: none;
}

#confirmar{
    display: none;
}

#cadastrar{
    display: none;
}

#modalCadastro{
    display: none;
}


#col-md-4 {
    float: left;
    height: 300px;
    width: 300px;
    perspective-origin: 170px 180px;
    transform-origin: 170px 180px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 8px 8px 8px 8px;
    font: normal normal normal 16px/16px 'Times New Roman';
    margin: 0px 0px 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}/*#DIV_1*/

#DIV_2 {
    float: left;
    height: 170px;
    position: relative;
    width: 130px;
    perspective-origin: 80px 136.5px;
    transform-origin: 80px 136.5px;
    font: normal normal normal 16px/16px 'Times New Roman';
}/*#DIV_2*/

#IMG_3 {
    height: 130px;
    width: 170px;
    perspective-origin: 65px 115px;
    transform-origin: 65px 115px;
    font: normal normal normal 16px/16px 'Times New Roman';
    margin: 40px 0px 0px 20px;
}/*#IMG_3*/

#DIV_4 {
    float: right;
    height: 300px;
    width: 130px;
    perspective-origin: 80px 146px;
    transform-origin: 80px 146px;
    font: normal normal normal 16px/16px 'Times New Roman';
    margin-right: 8px;
}/*#DIV_4*/

#H3_5 {
    height: 48px;
    width: 160px;
    perspective-origin: 80px 24px;
    transform-origin: 80px 24px;
    font: normal normal normal 20px/24px Oswald, sans-serif;
    margin: 40px 0px 15px;
    text-align: left;
}/*#H3_5*/

#A_6 {
    color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal 20px/24px Oswald, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#A_6*/

#UL_17 {
    float: left;
    height: 63px;
    width: 121px;
    perspective-origin: 60.5px 31.5px;
    transform-origin: 60.5px 31.5px;
    font: normal normal normal 16px/16px 'Times New Roman';
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_17*/

#LI_18 {
    clear: both;
    color: rgb(102, 102, 102);
    float: left;
    height: 21px;
    text-decoration: none solid rgb(102, 102, 102);
    width: 121px;
    perspective-origin: 60.5px 10.5px;
    transform-origin: 60.5px 10.5px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 12px/15.600000381469727px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 10px;
    outline: rgb(102, 102, 102) none 0px;
}/*#LI_18*/

/*--#SPAN_19 {
    background-position: -68px -504px;
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 21px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    width: 22px;
    perspective-origin: 11px 10.5px;
    transform-origin: 11px 10.5px;
    background: rgba(0, 0, 0, 0) url(http://www.haveanicebeer.com.br/template-resources/img/spr/spr-main.png) no-repeat scroll -68px -504px / auto padding-box border-box;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal 12px/15.600000381469727px Arial, Helvetica, sans-serif;
    list-style: none outside none;
    margin: 0px 10px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}--*/

#bandeira{
    display: block;
    float: left;
    height: 21px;
    width: 22px;
    margin: 0px 10px 0px 0px;
}

#STRONG_20 {
    display: block;
    float: left;
    height: 15px;
    text-align: left;
    text-decoration: none solid rgb(102, 102, 102);
    width: 89px;
    perspective-origin: 44.5px 7.5px;
    transform-origin: 44.5px 7.5px;
    border: 0px none rgb(102, 102, 102);
    list-style: none outside none;
    margin: 3px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#STRONG_20*/

.origem{
    font: 12px/130% Arial, Helvetica, sans-serif;
    color: #666;
}

.avaliacao{
  font: Arial, Helvetica, sans-serif;
  list-style: none outside none;
}

#P_24 {
    color: rgb(140, 0, 25);
    float: left;
    height: 36px;
    text-decoration: none solid rgb(140, 0, 25);
    width: 160px;
    perspective-origin: 80px 18px;
    transform-origin: 80px 18px;
    border: 0px none rgb(140, 0, 25);
    font: normal normal normal 27px/32.400001525878906px Oswald, sans-serif;
    margin: 0px 0px;
    outline: rgb(140, 0, 25) none 0px;
}/*#P_24*/

#SPAN_25, #SPAN_26 {
    color: rgb(140, 0, 25);
    text-align: left;
    text-decoration: none solid rgb(140, 0, 25);
    border: 0px none rgb(140, 0, 25);
    font: normal normal normal 18px/32.400001525878906px Oswald, sans-serif;
    outline: rgb(140, 0, 25) none 0px;
}

#DIV_4.btn-info {
  position: absolute;
  top: 300px;
  right: 78px;
}

.btn-primary{
  position: absolute;
  top: 370px;
  right: 10px;  
}

/*header*/

#NAV_1 {
    float: center;
    height: 47px;
    width: 1000px;
    perspective-origin: 500px 23.5px;
    transform-origin: 500px 23.5px;
    font: normal normal normal 16px/16px 'Times New Roman';
}/*#NAV_1*/

#SPAN_2 {
    background-position: 0px -24px;
    display: block;
    float: left;
    height: 47px;
    width: 30px;
    perspective-origin: 15px 23.5px;
    transform-origin: 15px 23.5px;
    background: rgba(0, 0, 0, 0) url(http://www.haveanicebeer.com.br/template-resources/img/spr/spr-main.png) no-repeat scroll 0px -24px / auto padding-box border-box;
    font: normal normal normal 16px/16px 'Times New Roman';
}/*#SPAN_2*/

#UL_3 {
    float: left;
    height: 39px;
    position: relative;
    width: 880px;
    z-index: 1;
    perspective-origin: 469px 20.5px;
    transform-origin: 469px 20.5px;
    background: rgb(241, 190, 80) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 2px solid rgb(208, 162, 70);
    font: normal normal normal 16px/16px 'Times New Roman';
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_3*/

#LI_4 {
    float: left;
    height: 39px;
    position: relative;
    width: 77px;
    z-index: 1;
    perspective-origin: 39px 19.5px;
    transform-origin: 39px 19.5px;
    border-right: 1px dashed rgb(208, 162, 70);
    font: normal normal 500 14px/normal Oswald, sans-serif;
    list-style: none outside none;
}/*#LI_4*/

#A_5 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 29px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    width: 25px;
    perspective-origin: 38.5px 19.5px;
    transform-origin: 38.5px 19.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 14px/normal Oswald, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 26px 0px;
}/*#A_5*/

#LI_10 {
    float: left;
    height: 39px;
    position: relative;
    width: 116px;
    z-index: 1;
    perspective-origin: 58.5px 19.5px;
    transform-origin: 58.5px 19.5px;
    border-right: 1px dashed rgb(208, 162, 70);
    font: normal normal 500 14px/normal Oswald, sans-serif;
    list-style: none outside none;
}/*#LI_10*/

#A_11 {
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    height: 29px;
    text-align: left;
    text-decoration: none solid rgb(51, 51, 51);
    width: 64px;
    perspective-origin: 58px 19.5px;
    transform-origin: 58px 19.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal 500 14px/normal Oswald, sans-serif;
    list-style: none outside none;
    outline: rgb(51, 51, 51) none 0px;
    padding: 10px 26px 0px;
}/*#A_11*/


#SPAN_21 {
    background-position: -44px -24px;
    display: block;
    float: left;
    height: 47px;
    width: 30px;
    perspective-origin: 15px 23.5px;
    transform-origin: 15px 23.5px;
    background: rgba(0, 0, 0, 0) url(http://www.haveanicebeer.com.br/template-resources/img/spr/spr-main.png) no-repeat scroll -44px -24px / auto padding-box border-box;
    font: normal normal normal 16px/16px 'Times New Roman';
}/*#SPAN_21*/

.circular {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  align-content: right;
  }

.circular img {
  opacity: 0;
  filter: alpha(opacity=0);
  }
/*header*/


/* formulario css */
#divFormulario {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font-family: 'Aclonica', sans-serif;
    font-size: 12px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.formulario h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.formulario h1>span {
    display: block;
    font-size: 11px;
}
.formulario label {
    display: block;
    float: top;
    margin: 0px;
}
.formulario label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.formulario input[type="text"], .formulario input[type="email"], .formulario textarea, .formulario select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.formulario textarea{
    padding: 5px 3px 3px 5px;
}
.formulario select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.formulario textarea{
    height:100px;
}
.formulario .button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.formulario .button:hover {
    background: #CF7A7A
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.ui-dialog-titlebar{
  visibility: hidden;
}

#editName{
    margin-top: 2px;
}

#editDescr{
    margin-top: 2px;
}

#editEstilo{
    margin-top: 2px;
}

#editLocal{
    margin-top: 2px;
}

#editTeor{
    margin-top: 2px;
}

#editPreco{
    margin-top: 2px;
}