    body{
        background-color: #cccccc;
        padding-bottom: 40px;
        color: #5a5a5a;
    }

    /*.tabela{
      width: 940px;
      margin-right: auto;
      margin-left: auto;

    }*/

    .edicao{
      width: 940px;
      margin-right: auto;
      margin-left: auto;
    }
  

    .bloco{
      text-align: center;
      margin-top: 3%; 
    }

    #bandeira{
      /*display: block;
      float: center;*/
      height: 21px;
      width: 22px;
      margin: 0px 10px 0px 0px;
    }


    /*.btn{
      position: absolute;
    }*/

    .navbar-wrapper {
      position: relative;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px
    }
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    .navbar .btn-navbar {
      margin-top: 10px;
    }

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }
    }

    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }
    }

    .btn-primary{
      position: relative;
      /*top: 350px;
      right: 227px;*/  
    }
    .form-control{
      margin-right: 5px;
    }

    table {
      max-width: none;
    }
    thead>tr>th{
      text-align: center;
    }

    
    /*flip card 
    .flip {
      -webkit-perspective: 800;
      position: relative;
    }
    .flip .card.flipped {
      -webkit-transform: rotatey(180deg);
    }
    .flip .card {     
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
    }
    .flip .card .face {
      -webkit-backface-visibility: hidden ;      
    }
    .flip .card .front {
    }
    .flip .card .back {
      -webkit-transform: rotatex(180deg);
      cursor: pointer;
    }*/
