<!doctype html>
<html lang="en" ng-app="bebidasApp">
	
	<head>
	    <meta charset="utf-8">
	    <meta name="description" content="Holy Beer">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Holy Beer</title>
	    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
	    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
	</head>
	
	<body ng-controller="bebidasCtrl">
		<nav class="navbar navbar-inverse" role="navigation">
 
	        <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#" ng-click="reload(0)">HOLY BEER</a>
	        </div>
	 
	      <div class="collapse navbar-collapse" id="bar1">
	        <ul class="nav navbar-nav navbar-right">
	        	<li ng-click="habilitarCadastro()" ng-if="pagina === 1"><a>Cadastrar</a></li>
	        	<li ng-click="reload(1)" ng-if="pagina === 0"><a>Controle de Cervejas</a></li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Paises<b class="caret"></b></a>
		            <ul class="dropdown-menu" ng-model="orderProp">
			            <li ng-repeat="pais in paises" ng-click="definirPaises(pais)"><a href="#">{{pais}}</a></li>
		            </ul>
		        </li>
		        <form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		        	<input type="text" ng-model="query" class="form-control span2" placeholder="Insira um texto aqui">
		        	<!--<button type="submit" class="btn btn-default span2">Buscar</button>-->
		        </div>	        
	        </form>
	        </ul>

	      </div>
	    </nav>

	    <!--Tabela-->

		<div class="row-fluid" ng-if="pagina === 0">    
		    <div class="col-md-4 bloco" ng-repeat="bloco in bebidas | filter:query | orderBy:orderProp">
		    	<div>
		    		<div class="face1" ng-if="detalheEscolhido !== bloco.objectId">
			    		<img class="img-circle" ng-src="{{bloco.imagens}}" width="200"  height="200" align="center">
			    		<h2>{{bloco.nome}}</h2>
			    		<p>R{{bloco.preco | currency}}</p>
			    		<p><img src="img/icones/cerveja.png" id="bandeira">{{bloco.estilo}}</p>
			    	</div>

			    	<div ng-if="detalheEscolhido === bloco.objectId" class="insideBloco">
						<h2>{{bloco.nome}}</h2>
						
						<div class="descr-container">
							<p>{{bloco.descr}}</p>
						</div>
						
						<div class="infoBaixas">
							<h3><img ng-src="{{bloco.bandeira}}" id="bandeira">{{bloco.origem}}</h3>
							<h3>{{bloco.teor | currency : "%"}}</h3>
						</div>						
					</div>
				</div>

			    <button class="btn btn-1 btn-1a" ng-click="definirDetalhe(bloco.objectId)">Detalhes</button>		    

		    </div>
		</div>

		<!--fim-->


		<!--controler-->

		<div class="table-responsive" ng-if="pagina === 1">
			<div class="table-container">
				<table class="table" id="table">
		        	<thead>  
		            	<tr>  
		                	<th>Cervejas</th>
		        	        <th>Pais de Origem</th> 
		        	 	    <th>Preço</th>		                 
		                	<th>Ultima Edição</th>		                 
		                	<th></th>  
		            	</tr>  
		        	</thead> 
	            	<tbody id="tabela">
	            		<tr class="bloco" ng-repeat="bloco in bebidas">
	                    	<td>{{bloco.nome}}</td>
	                    	<td>{{bloco.origem}}</td>
	                    	<td>{{bloco.preco | currency}}</td>	                    
	                    	<td>{{bloco.updatedAt | date:'medium'}}</td>

	                    	<td ng-if="linhaExcluir !== bloco.objectId">
	                    	<button type="button" ng-click="editarBebida(bloco.objectId)" class="btn btn-1 btn-1a btn-detalhe">
	                    		Ver Detalhes
	                    	</button>
	                    </td>	                    
	                  
	                	</tr>

	            	</tbody>
		    	</table>
			</div>
			
			<div class="form-container" id="cadastro" ng-if="bebidaEditada !== null">
				<form class="form-horizontal">
					<fieldset>

						<!-- Form Name -->
						<legend align="center" ng-if="bebidaEditada === -1">Cadastro</legend>
						<!-- Form Name -->
						<legend align="center" ng-if="bebidaEditada !== -1">Editar</legend>

						<!-- File Button --> 
						<div class="form-group">
							<label class="col-md-4 control-label" for="filebutton">Upload Foto</label>
							<div class="col-md-4">
								<input id="filebutton" name="filebutton" class="input-file" type="file">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput" >Nome</label>  
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="text" placeholder="Nome" class="form-control input-md" ng-model="bebida.nome"> 
							</div>
						</div>

						<!-- Textarea -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textarea">Descrição</label>
							<div class="col-md-4">                     
								<textarea class="form-control form-descr" id="textarea" placeholder="250 caracteres" maxlength="250" ng-model="bebida.descr" ></textarea>
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Preço</label>  
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="number" placeholder="xx,xx" class="form-control input-md" ng-model="bebida.preco">
							</div>
						</div>

						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label" for="textinput">Teor Alcoólico</label>  
							<div class="col-md-4">
								<input id="textinput" name="textinput" type="number" placeholder="xx,xx" class="form-control input-md" ng-model="bebida.teor">
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="selectbasic">Pais de Origem</label>
							<div class="col-md-4">
								<select id="selectbasic" name="selectbasic" class="form-control"  ng-model="bebida.origem">
									<option value="{{pais}}" ng-repeat="pais in paises">{{pais}}</option>
								</select>
							</div>
						</div>

						<!-- Select Basic -->
						<div class="form-group">
							<label class="col-md-4 control-label" for="selectbasic">Estilo</label>
							<div class="col-md-4">
								<select id="selectbasic" name="selectbasic" class="form-control"  ng-model="bebida.estilo">
									<option value="{{estilo}}" ng-repeat="estilo in estilos">{{estilo}}</option>
								</select>
							</div>
						</div>

						<div align="right" ng-if="bebidaEditada !== -1">
							<div class="btn-loc">
		                    	<button type="button" ng-click="cadastrarBebida(bebida.objectId)"  class="btn btn-1 btn-1a btn-size">
		                    		Editar
		                    	</button>
		                    </div>

		                    <div ng-if="bebidaExcluir === null" class="btn-loc">
		                    	<button type="button" ng-click="excluir()" class="btn btn-1 btn-1a btn-size" >
		                    		Remove
		                    	</button>
		                    </div>

		                    <div ng-if="bebidaExcluir !== -1" class="btn-loc margem">
								<i type="button" ng-click="confirmarExcluir()" class="icon-ok icon-2x buton"></i>
		                    	<i type="button" ng-click="cancelarExcluir()" class="icon-remove icon-2x buton"></i>	                    		
		                    </div>
		                </div>   

						<div align="right" ng-if="bebidaEditada === -1">
							<td>
		                    	<button type="button" ng-click="cadastrarBebida(null)" class="btn btn-1 btn-1a btn-detalhe">
		                    		Cadastrar
		                    	</button>
		                    </td>
		                </div>    

					</fieldset>
				</form>
			</div>
		</div>   


		<!--fim-->


		<!--footer
		
		<footer>
			<p class="pull-right">
				<a>Thnx</a>
			</p>
			<p>
				© 2014 Company, Inc. 
				<a href="">Terms</a>				
			</p>
		</footer>

		<!--fim-->

		<script src="js/bootstrap.min.js"></script>
       	<script src="js/angular.js"></script>
       	<script type="text/javascript" src="js/bebidasController.js"></script>
	</body>
</html>